/.ipynb_checkpoints/

/*.ipynb

/ct.jld

/two period model/

/test.json

/Lmat.jld

/update_github.txt
/make_draft_IMFwp.s
/update_github.s
/make_AER.s
Faingold-Sannikov/FS_ODE_logs.m
Faingold-Sannikov/FS_ODE.m
Faingold-Sannikov/FS.m
Faingold-Sannikov/log_trans.m
Faingold-Sannikov/matlab example/boundary_value.m
