/.ipynb_checkpoints/

/*.ipynb

/ct.jld

/two period model/

/test.json

/.gitignore

/Lmat.jld

/test.png

/test2.json

/.gitignore

/update_github.txt

/.gitignore

/.gitignore

/.gitignore

/.gitignore
